<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos de la app -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app"
        android:label="@string/nombreApp"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sol"
        tools:targetApi="31">
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.EditarDirecciones"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.MostrarPedidos"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.EditarDatosP"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.CarritoCompras"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.ConsultarPerfil"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.MostrarProductos"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.MenuPrincipal"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.EstadoCuenta"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.MostrarProducto"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.RegistroDireccion"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.RegistroDatos"
            android:exported="false" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.Login"
            android:exported="false"
            android:label="@string/tituloActividadLogin"
            android:theme="@style/Theme.Sol" />
        <activity
            android:name="com.SolucionesParaPlagas.android.Vista.PaginaInicio"
            android:exported="true"
            android:theme="@style/Theme.Sol">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>